<h1>Nic Sosa's Bio</h1>
<%= image_tag(image_path('nic'), class: 'responsive-img') %>
<hr />

<h5 class='flow-text'>
  Nic’s love for creativity began in his early childhood, gazing through the cracks in the windows and doors to his grandfather’s work shop, stealing as many glimpses possible of the creativity in his heritage. It stirred a hunger from an early age to always keep asking, “Why are things made a certain way, if they don’t have to be?”
  <br />
  <br />
  Although he certainly carries a legacy of creativity passed down from his grandpa, Nic puts a little bit of his own personality into everything he does. He loves to take timeless memories people have, but put modern twists on them — no two pieces are the same, because where’s the creative expression in doing the same thing over and over?
  <br />
  <br />
  The name Creative Kingdom comes from Nic’s personal relationship with God. The whole idea is to imagine creating with God, the Creator, who put no limits on what we could create with Him. So that’s the way Nic looks at his work — with no limits.
</h5>