<h1>Nic Sosa's Bio</h1>
<%= image_tag(image_path('nic'), class: 'responsive-img') %>
<hr />

<h5 class='flow-text'>
  <blockquote>
    I have always wanted to live from a place of wonder.
    Growing up in the modern day made me feel like we settled in some aspects.
    I started making stuff to express what I see. Sometimes it's reminding me of the past times in history.
    And other times it's my interpretation of the future. Most of all it's just how I see it.
  </blockquote>
  - Nic Sosa
</h5>
