<h1>Welcome!</h1>
<hr />

<div class='row'>
  <div class="gallery">
    <% @photos.each do |photo| %>
      <div class='col s12 m4'>
        <a href="<%= photo.attachment.url %>" data-caption="<%= photo.caption %>">
          <img src="<%= photo.attachment.url(:medium) %>" class='responsive-img work-photo'>
        </a>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @photos %>