<h1>Welcome!</h1>
<div class='hide-on-med-and-up'>
  <%= image_tag('creativekingdom2Black', class: 'responsive-img') %>
</div>
<hr />

<div class='row'>
  <div class="gallery">
    <% @photos.each do |photo| %>
      <div class='col s12 m4'>
        <a href="<%= photo.attachment.fullpath %>" data-caption="<%= photo.caption %>">
          <%= cl_image_tag(photo.attachment.path, class: 'responsive-img work-photo') %>
        </a>
      </div>
    <% end %>
  </div>
</div>