<div class='center'>
  <h3>Our Work</h3>
	<div class='see-all-link'>
		<strong>
			<a href=<%= ENV['INSTAGRAM_URL'] %> target='_blank'>
				<%= fa_icon "instagram" %>
				See All Of Our Work On Instagram
			</a>
		</strong>
	</div>
	<div class='row'>
      <div class="gallery"></div>
	</div>
</div>
