html,
body {
  color: black;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.see-all-link {
  margin-bottom: 10px;
}

.page-footer {
  padding-top: 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  padding-left: 10px;
}

.logo-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.work-photo {
  margin: 10px 0 10px 0;
}

.flash {
  text-align: center;
  color: white;
}

.flash.alert {
  background-color: red;
}

.flash.success {
  background-color: grey;
}

.flash.error {
  background-color: red;
}
